@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lugrasimo', cursive;
    background-color: hsl(48, 92%, 90%);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    margin: 5px;
}
.container{
    margin: 10px;
    width: max-content;
    padding: 10px;
    border: 1px solid #1b1c1f;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(55, 55, 56, 0.5);
}
.button{
    width: 60px;
    height: 60px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    color: #0d0c0c;
    font-size: 15px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2);
}
.row{
    margin: 8px 0;
}
.row input{
    width: 280px;
    font-size: 30px;
    text-align: right;
    padding: 24px;
    margin: 10px;
    border: none;
    color: #000000;
    box-shadow: 0px 3px 15px rgba(88, 88, 88, 0.1);
    cursor: pointer;
}
.row input::placeholder{
    color: #100f0f;
}